@import "../../App";

.ant-modal {
    min-width: 60% !important;

    .ant-modal-footer, .ant-modal-close {
        display: none;
    }
}

.ant-modal-body {
    padding: 0;

    .ant-modal-confirm-btns {
        display: none;
    }
}

