$grid-breakpoints: (
  xs: 0,
  sm: 668px,
  md: 1025px,
  lg: 1400px,
  xl: 1401px
);

$container-max-widths: (
  sm: 986px,
  md: 1200px,
  lg: 1400px,
  xl: 1401px
);

//@import "../../../../css/scss/abstracts/_variables";

$color-black: #000;
$color-error: red;
$color-warning: #fa8800;
$color-info: #faad14;

$color-primary-blue: #00416D;
$color-secondary-blue: #00A7E6;
$color-text: #00406C;
$color-light-gray: #CCCACA;
$color-white: #fff;

$icon-size: 32px;
$icon-minimal-right-offset: 10px;
